<section class="modal-info">
  <p class="post-body">{{post.body}}</p>
  <ul>
    <li>Name: {{post.userId.name}}</li>
    <li>Username: {{post.userId.username}}</li>
    <li>Phone: {{post.userId.phone}}</li>
    <li>Email: {{post.userId.email}}</li>
    <li>Website: {{post.userId.website}}</li>
  </ul>
</section>
{{yield}}
